// variables
$blue: #4831d4;
$green: #ccf381;
$lightgray: #f7f7f7;
$gray: #333;
$white: #fff;
$transition: .3s ease;
$font: 16px;
$fontFamily: 'Roboto', sans-serif;
$padding: 100px 0;
$boxShadow: 0 0 10px #b7b6b6;
$textShadow: 0 0 2px #333;
// mixins
@mixin btn {
  padding: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  background: $green;
  border: none;
  color: $gray;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    background: $blue;
    color: $white;
    $transition: $transition;

  }

}
//basic styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $fontFamily;
  font-size: $font;
  color: $gray;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

a {
  transition: $transition;
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $green;
  }
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

.headings {
  font-size: 3rem;
  text-align: center;
  &:after {
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    margin: 20px auto 40px auto;
    background: $green;
  }
}

//top bar

.topbar {
  background: $lightgray;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  a {
    &:hover {
      color: $blue;
    }
  }
}

//nav bar
nav {
  display: flex;
  padding: 15px 50px;
  border-bottom: 4px solid $green;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    flex: 3;
    color: $gray;
    font-size: 2rem;
    letter-spacing: 2px;
    span {
      color: $green;
      font-style: italic;
      text-shadow: $textShadow;
    }
  }
  ul {
    flex: 6;
    display: flex;
    justify-content: space-evenly;
  }
  .icons {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: 20px;
    }
  }

}

//footer

footer {
  padding: $padding;
  background: $blue;
  color: $white;
  .container {
    display: flex;
    flex-wrap: wrap;
    .col {
      flex:1;
      h3 {
        font-size: 1.7rem;
        padding-bottom: 40px;
      }
      ul {
        line-height: 2;
        a {
          color: $green;
          &:hover {
            color: $white;
          }
        }
      }
      p {
        margin-bottom: 10px;
      }
      input[type="email"] {
        padding: 12px;
      }
      input[type="submit"] {
        padding: 8px;
        background: $green;
        border: none;
        position: relative;
        left: -20px;
      }
    }
  }
}
// Bottom Bar
.bottomBar {
  @extend .topbar;
  background: $green;
  a {
    margin-left: 20px;
  }
}

//header
header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 1.2;
    color: $green;
    letter-spacing: 2px;
    span {
      color: $white;
    }

  }
  button {
    @include btn;
  }

}
// featured product

.featuredProduct {
  padding: $padding;
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col {
      flex: 0 0 31%;
      box-shadow: $boxShadow;
      img {
        width: 100%;
      }
      h3 {
        font-size: 1.8rem;
        padding-left: 20px;
      }
      .price {
        padding: 20px;
        display: flex;
        p:first-child {
          margin-right: 30px;
          text-decoration: line-through;
          color: blue;
        }
      }
    }
  }
}