


$blue: #4831d4;
$green: #ccf381;
$lightgray: #f7f7f7;
$gray: #333;
$white: #fff;
$transition: .3s ease;
$font: 16px;
$fontFamily: 'Roboto', sans-serif;
$padding: 100px 0;
$boxShadow: 0 0 10px #b7b6b6;
$textShadow: 0 0 2px #333;